<h1>My tasks</h1>

<ul>

  <% @tasks.each do |task| %>

    <h2><input type="checkbox">   <%= link_to task.title, task_path(task) %> <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %></h2>

  <% end %>

</ul>

<h2><%= link_to "Add a task", tasks_new_path %></h2>
